* {
  font-family: 'Quicksand', sans-serif;
}
h1 {
  text-align: center;
  color: blue;
}
.exercise {
  display: inline-block;
}
.ListDescription {
  color: darkviolet;
}
li {
  border: 1px solid yellow;
}
.example {
  text-align: center;
}